{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-lg-6">{{form(form)}}</div>
    <div class="col-lg-6"><img class="img" src="{{'/images/discotheque.png'}}" alt="une discothèque"></div>
</div>
{% endblock %}