{% extends 'base.html.twig' %}

{% block title %}Edit EventMateriel{% endblock %}

{% block body %}
    <h1>Edit EventMateriel</h1>

    {{ include('event_materiel/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_event_materiel_index') }}">back to list</a>

    {{ include('event_materiel/_delete_form.html.twig') }}
{% endblock %}
